/* Essa parte basicamente, coloca a fonte, tira margem e aplica o fundo degradê,
o menu deixa os links centralizados, como fundo rosa e fixo no topo,
os likns do menu mudam de cor no hover e quando estão ativos,
as seções começam escondidas, e soó aparece quando h=ganham a classe ativa
a anaimação fadeIn faz a seção surgir sua, os títulos têm tamanhos grandes espaçamento ajustado*/

body{
    margin:0;
    font-family:'roboto', sans-serif;
    background: linear-gradient(135deg,#FF007A, #FFA500);
    color: #5a3a22;
}

.menu{
    display:flex;
    justify-content:center;
    background:rgba(254, 4, 125, 0.833);
    padding: 12px 0;
    position:sticky;
    top:0;
    z-index:1000;
    font-family:'Poppins', sans-serif;
}

.menu a{
    color:#5a3a22;
    text-decoration: none;
    margin:0 15px;
    font-weight:600;
    transition:0.3s;
}

.menu a:hover, .menu a.active{
    color:#ffd54f;
}

.secao{
    display:none;
    text-align: center;
    padding: 80px 20px;
    animation:fadeIn 0.6s ease;
}

.secao.ativa{
    display:block;
}

@keyframes fadeIn{
from{opacity:0;}
to{opacity:1;}
}

.titulo{
    font-size:3.5em;
    font-family:'Poppins', sans-serif;
    margin-bottom:15px;
}

.titulo2{
    font-size:2.5em;
    margin-bottom:25px;
    text-align:center;
}

.subtitulo{
    font-size:1.6em;
    margin-bottom:30px;
    font-weight: 500;
}

.texto{
    font-size:1.15em;
    line-height:1.7;
    max-width:700px;
    margin: 0 auto 30px;
}

.botao{
    background:#ffd5af;
    color:#5a3a22;
    padding:14px 30px;
    text-decoration:none;
    font-weight:700;
    border-radius:10px;
    transition:0.3s;
    display:inline-block;
    margin:10px 5px;
    font-family:'Poppins',sans-serif;
    border: none;
    cursor:pointer;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

.botao:hover{
    background:#ffe082;
    transform:translateY(-2px);
    box-shadow:0 6px 12px rgba(0,0,0,0.3);
}

.kit-container{
    display:flex;
    flex-direction: wrap;
    align-items: center;
    gap:20px;
    margin-top:20px;
    padding: 10px;
}